{% load static %}

<link rel=stylesheet
      type="text/css"
      href="{% static "mainPage/mainPage.css" %}" />

<div id="pageWrapper">
    <div id="navigation">

        <img src="{% static "mainPage/brain_logo.png" %}" />

        <ul>
            <li>About</li>
            <li><a href="{% url 'BlogPosts:post_view' %}">Posts</a></li>
            <li>Archive</li>
            <li>Contact</li>
        </ul>

    </div>
    <div id="rightSide">
        <p>
            This side is for links to the blog posts
            Why is this not changing
        </p>

        <ul>
            <div id="box">testBox</div>
        </ul>
    </div>
</div>