{% load static %}

<link rel=stylesheet
      type="text/css"
      href="{% static "mainPage/mainPage.css" %}" />

<div id="pageWrapper">
    <div id="navigation">
        <p>
        <img src="{% static "mainPage/brainLogo.png" %}" />
        </p>
        <p>
            <ul>
                <li>About</li>
                <li>Posts</li>
                <li>Contact</li>
            </ul>
        </p>
    </div>
    <div id="rightSide">
        <p>
            This side is for links to the blog posts
        </p>
    </div>
</div>