#body {
    background-color: black;
}

#pageWrapper {
    background-color: aqua;
}

#navigation {
    float: left;
    background-color: whitesmoke;
    width: 35%;
}

#rightSide {
    background-color: red;
    float: left;
    width: 60%;
}

#navigation li {
    font-family: sans-serif;
    background-color: chartreuse;
    text-align: center;
    width: 20%;
    padding-top: 2px;
}

#navigation li:hover {
    background-color: coral;
    box-shadow: gray;
}