@font-face {
  font-family: aileron;
  src: url(fonts/Aileron-Thin.otf);
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  background: url(images/test_background.svg);
  background-repeat: repeat;
}

#pageWrapper {
    height: 100%;
    transition: all .5s ease-in;
}

#rightSide {
  padding: 0;
  /*background-color: whitesmoke;/*#092763;*/
  height: 100%;
  z-index: 1;
  /*height: 100%;*/
}

#rightSide p {
  padding-left: 25%;
  padding-right: 25%;
}

#rightSide h1 {
  text-align: center;
  font-family: aileron;
}

#rightSide ul {
  /*
  padding-bottom: 20px;
  margin-bottom: 30px;
  */
  list-style: none;
  position: sticky;
}

#rightSide li {
  /*margin-bottom: 10px;*/
  padding-bottom: 2em;
  padding-top: 2em;
  padding: 2em;
  text-align: center;
  height: 200px;
  /*border: 1px solid black;*/
  margin: auto;
  width: 20%;
  background-color: green;
}

#rightSide h4 {
  background-color: black;
  color: white;
}

#navigation {
  min-width: 1080px;
}

#navigation img {
  top: 0;
  z-index: 2;
  transition: all .5s ease-in;
}

#navigation ul {
  /*border-top: 10px solid black;*/
  display: table;
  margin: 0 auto;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  list-style: none;
  background: white;
}

#navigation li {
    text-align: center;
    font-family: aileron;
    font-size: 25px;
    color: black;
    float: left;
    transition: all .2s ease-in;
    padding: 15px;
}

#navigation a {
  color: black;
}

#navigation li:hover {
    /*background-color: black;*/
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: red;
    box-shadow: gray;
    /*transform: translateY(5px);*/
}

#blogBox {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: white;
}
